%% -*- erlang -*-

{deps, [
        {tparser, ".*", {git, "git@github.com:lucafavatella/teaparser.git", "master-wo-minus"}},
        {x2cl, ".*", {git, "git@github.com:esl/x2cl.git", "34cbf6a1c8c9f8f837b74bc71671de493ec6c7e9"}},
        {meck, ".*", {git, "git@github.com:eproxus/meck.git", {tag, "0.8.1"}}}
       ]}.
